#base
NODE_ENV
APP_PORT

#database
DB_TYPE

#mysql:
DB_HOST
DB_PORT
DB_USERNAME
DB_PASSWORD
DB_DATABASE
DB_TIMEZONE
DB_SYNCHRONIZE


SERVICE_NAME

ETHEREUM_ENDPOINT

USDT_ETHEREUM_TOKEN_CONTRACT

ETHEREUM_CONFIRM_COUNT

COINMARKETCAP_API_KEY
